.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	margin: 15%;
}

.step-div {
	display: flex;
	gap: 10px;
	margin-bottom: 16px;
}

.count-div {
	display: flex;
	gap: 3px;
}

.count-div input {
	color: blue;
	border-radius: 7px;
	border: 1px solid black;
}

button {
	border-radius: 7px;
	border: 1px solid black;
	width: 23px;
	height: 33px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	cursor: pointer;
}
